* {
    padding: 0 0;
    margin: 0;
    box-sizing: border-box;
}

@media only screen and (max-width:600px) {

    .posrer-img{
        width: 100%;
        height: auto;
        position: relative;
    }
    .focus h2{
        font-size: small;
        position: absolute;
        top: 70%;
        left: 50%;

    }
    .dp{
        width: 100px;
        height: auto;
        position: absolute;
        top: 22%;
        left: 40%;
    }

    /* Maim manu */
    #main-manu {
        padding: 40px;
    }

    .info {
        text-align: center;
    }

    .about {
        text-align: center;
    }

    .perent-main-manu {
        flex-direction: column;
    }

    .child-main-img {
        width: 100%;
        height: auto;
    }

    /* My skills */
    #skills {
        padding: 40px;
    }

    .perent-about-skill-Abilities {
        text-align: center;
    }

    .perent-about-skills-my-skills {
        text-align: center;
    }

    .perent-about-skills {
        flex-direction: column;
    }

    .child-main-details {
        flex-direction: column;
        gap: 0;
    }

    /* My Service */
    #service {
        padding: 40px;
    }

    .service-heading,
    .service-heading2 {
        text-align: center;
    }

    .perent-service-logo1 {
        flex-direction: column;
        gap: 5px;
    }

    .child-service-laptop {
        width: 100%;
        height: auto;
    }

    .child-service-lightbulb {
        width: 100%;
        height: auto;
    }

    .child-service-camera {
        width: 100%;
        height: auto;
    }

    .peresnt-service-logo2 {
        flex-direction: column;
        gap: 5px;
    }

    .child-logo2-tv {
        width: 100%;
        height: auto;
    }

    .child-logo2-mobile {
        width: 100%;
        height: auto;
    }

    .child-logo2-layer {
        width: 100%;
        height: auto;
    }

    /* Reference */
    #References {
        align-items: center;
        padding: 40px;
    }

    .about-reference {
        text-align: center;
    }

    .parent-reference {
        flex-direction: column;
        gap: 20px;
    }

    .parent-reference img {
        width: 100%;
        height: auto;
    }

    /* Creativity */
    #Creativity {
        padding: 40px;
    }

    .about-creativity {
        text-align: center;
    }

    .parent-creative {
        flex-direction: column;
        gap: 30px;
    }

    .parent-creative2 {
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }

    /* Latest News */
    #News {
        background-color: f7f7f7;
        padding: 40px;
    }

    .heading-news {
        text-align: center;
    }

    .perent-news {
        flex-direction: column;
        gap: 30px;
    }

    /* Form */
    .form-heading {
        text-align: center;
    }

    .parent-form {
        padding: 22px;
        flex-direction: column;
    }

    /* Footer */
    #footer {
        padding: 40px;
    }

    .parent-footer {
        flex-direction: column;
        gap: 30px;
    }
}